.file-upload-container {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .file-over {
    border: 2px dashed #000000 !important;
    background-color: rgba(63, 81, 181, 0.05);
  }
  
  mat-card {
    border: 2px dashed #ccc;
    transition: all 0.3s;
    text-align: center;
    padding: 20px;
    
    
    .upload-area {
      padding: 20px;
      
      .upload-icon {
        font-size: 48px;
        width: 48px;
        height: 48px;
        color: #000000;
      }
      
      .file-info {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        
        mat-icon {
          color: #000000;
        }
      }
    }
  }
  
  button {
    margin-top: 10px;
  }
}

.card {
  transition: filter 0.1s ease;
}
.card:hover {
  filter: brightness(75%);
}