<div class="error-container">
    <mat-card class="error-card">
      <mat-card-header>
        <mat-card-title>
          <h1>500 - Internal Server Error</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Sorry! Something went wrong on our end. Please try again later.</p>
      </mat-card-content>
      <mat-card-actions class="center">
        <button class="button" mat-flat-button routerLink="/">Go to Home</button>
      </mat-card-actions>
    </mat-card>
  </div>
  